.board{
    border: 1px solid black;
    width: 800px;
    height: 800px;
    display: inline;
    
}

.white{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.black{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: black;
}

.blocks{
    display: flex;
}