body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxXnC3fwMwkbIt3ejGRIw3NmbDyUtgS5g2jA&s);
    background-repeat:no-repeat ;
    background-position: 180px;
}


h1{
    background-color: brown;
    


}
h2{
    background-color: blue;
    height: 200px;
    width: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxXnC3fwMwkbIt3ejGRIw3NmbDyUtgS5g2jA&s;)
    
    
}
h3{
    background-color: blueviolet;
}
